.button{
  border-radius: 10px;
  box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.208);
  padding: $base-font-size 10px;
}
.button--blue{
  background-color: rgb(0, 0, 102);
  color: #ffffff;
}
.button--cta{
  font-size: $button-big-font-size;
  font-weight: bold;
}