.cart {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: $vertical-rhythm*5;
}
.cart__brand{
  width: 180px;//should be ok on mobile
}
.cart_title{
  font-size: $header-font-size;
  font-weight: bold;
  text-shadow: 1px 1.732px 1px rgba(0, 0, 0, 0.078); //copied from psd
}
.cart__contents{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: $vertical-rhythm*2;
  margin-top: $vertical-rhythm*4;
}

.cart__contents__header {
  font-size: $category-font-size;
}
.cart__contents__header__separator {
  position: relative;
  width: 108%;
  left: -4%;
  height: 1px;
  background: #000000;
  padding: 0;
  margin-bottom: $vertical-rhythm;
}
.cart__contents__header__title{
  &:first-child{
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
.cart__contents__footer{

}
.cart__contents__footer__item-title{

}
.cart__contents__footer__item-number {
  text-align: right;
}
.cart__subtotal{
  & td {
    padding-top: $vertical-rhythm*2;
  }
  color: $secondary-font-color;
}
.cart__vat {
  & td {
    padding-bottom: $vertical-rhythm*2;
  }
  color: $secondary-font-color;
}
.cart__total {
  font-weight: bold;
}
.cart__contents__item__remove{
  padding-left: 30px;
}
.cart__contents__body{

}
.cart__contents__item{

}
.cart__contents__item__total {
  text-align: right;
}
.cart__contents__item__remove-icon{
  cursor: pointer;
}
.cart__contents__footer__item__cta__container {
  padding-top: $vertical-rhythm;
}
.cart__cta__button{
  float:right;
}
.cart__cta__button:after{
  content:"»";
}
