//colors
$main-background-color: #f2f2f2;
$footer-background-color: #666666;
$primary-font-color: #000000;
$secondary-font-color: #666666;
$footer-font-color: $main-background-color;



//typography
$base-line-height: 1.2; //photoshop defaults to 120%
$base-font-size: 14px;
$vertical-rhythm: $base-line-height*$base-font-size;
$header-font-size: 30px;
$category-font-size: 18px;
$fine-print-font-size: 12px;
$button-big-font-size: 24px;

$main-font: 'Droid Serif', serif;