body {
  margin: 0;
  background-color: $main-background-color;
  color: $primary-font-color;
  font-family: $main-font;
  line-height: $base-line-height;
  text-align: center;
}
main {
  margin-top: 10%;
  max-width: 540px;
}
